/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
/* My code  */

/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/montserrat-v29-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/montserrat-v29-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/lato-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/lato-v24-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/lato-v24-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --colour-white: #f9f9f9;
  --colour-spurs: #132257;
}

body {
  background-color: var(--colour-white);
  font-family: "Lato";
  background: linear-gradient(
    160deg,
    var(--colour-spurs) 14%,
    var(--colour-white) 14%
  );
}

h1,
h2,
h3 {
  font-family: "Montserrat";
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  text-align: center;
}

.header-image {
  position: relative;
  display: flex;
  justify-content: center;
}

.profile-pic {
  height: 375px;
  width: 100%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1 {
  position: absolute;
  bottom: 8px;
  width: 100%;
  color: var(--colour-white);
}

.header-icons,
.project-icons {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

section {
  padding: 40px 20px;
}

.projects-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px 40px;
}

.project {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: 300px;
}

.project-image {
  height: 220px;
  width: 100%;
  object-fit: cover;
}

.project-name {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}

.project-description {
  min-height: 120px;
  padding: 0px 10px;
}

footer {
  background-color: var(--colour-spurs);
  color: var(--colour-white);
}

.footer-container {
  padding: 20px;
}

.footer-contact {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 5px;
}

.footer-icons-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.footer-icon {
  filter: invert(99%) sepia(6%) saturate(26%) hue-rotate(256deg)
    brightness(108%) contrast(95%);
}

.footer-pic {
  height: 375px;
  width: 100%;
  object-fit: cover;
}

/* .footer-pic-large {
  height: 375px;
  width: 100%;
  background-image: cover;
} */

@media (min-width: 768px) {
  header {
    flex-direction: row;
    gap: 0px;
  }

  .header-image {
    min-width: 500px;
  }

  .about {
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    margin: 60px 0px;
    padding: 40px 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--colour-white);
    text-align: left;
  }

  .header-icons {
    /* margin-top: 25px; */
    justify-content: left;
    padding: 10px;
  }

  header h2,
  footer h2 {
    text-align: left;
  }

  footer {
    display: flex;
  }

  .footer-icons-container {
    justify-content: left;
    padding-left: 0;
  }

  .footer-pic {
    padding: 30px;
    max-width: 555px;
  }
}

@media (min-width: 1024px) {
  body {
    background: linear-gradient(
      170deg,
      var(--colour-spurs) 25%,
      var(--colour-white) 25%
    );
  }

  header, section, footer {
    padding: 40px;
  }
}

/* My CSS declaration Order
    Positioning
    Display
    Colour
    Text
    Other */
